.search-box-wrapper{
  overflow: hidden;
}
.city-select{
  float: left;
  width: 370px;
}
.time-range{
  float: left;
  width: 440px;
}
.collapse-search{
  display: none;
}
.switch-wrapper {
  display: none;
  position: absolute;
  top:18px;
}
.switch-wrapper.active {
  display: block;
  position: absolute;
  top:18px;
}
.switch-wrapper .ant-switch{
  height:20px;
  line-height: 18px;
}
.switch-wrapper .ant-switch:after {
  height:16px;
  width:16px;
}